.App {
  width: 100%;
  max-width: 640px;
  margin: 20px auto;
  text-align: center;

  .App-button {
    margin: 6px;
  }

  .App-logo {
    height: 65px;
  }

  .App-title {
    margin: 10px auto 28px;
    font-size: 28px;
  }

  .App-boards {
    margin-top: 27px;
  }

  .App-board {
    width: 30%;
    margin: 10px;
  }
}
